<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link type="text/css" rel="stylesheet" href="/inc/style.css" />
  <script src="/inc/tinymce/tinymce.min.js"></script>
</head>

<body>
  <header>
    <a href="/home">
      <img id="logo" src="/inc/img/logo.png" />
    </a>
  </header>
  {{> navmenu}}
  <h1>{{title}}</h1>
  {{{body}}}
</body>

</html>