<table>
  <thead>
    <tr>
      <td>
        uid
      </td>
      <td>
        User
      </td>
    </tr>
  </thead>
  {{#each users}}
    <tr>
      <td>
        {{userId}}
      </td>
      <td>
        {{user}}
      </td>
    </tr>
  {{/each}}
</table>