body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
	text-align: center;
	background: radial-gradient(
		ellipse at center,
		rgba(65, 49, 247, 0.58) 0%,
		rgba(97, 121, 239, 0) 53%,
		rgba(125, 185, 232, 0) 100%
	);
}

#logo {
	width: 15vw;
}

img.small {
	width: 46px;
}

nav > ul {
	padding: 0;
}

nav > ul > li {
	display: inline-block;
	padding: 0;
}

nav > ul > li > a {
	text-decoration: none;
	color: purple;
	transition: 250ms;
}

nav > ul > li > a:hover {
	color: black;
	text-shadow: 1px 1px 2px rgb(160, 160, 160);
}
